
*.root
\#*
*.svg
*.pdf
*.ps
*.gif
*.png
*.wrl
*cmake*
*.jpeg
NSRL12C-build/CMakeFiles
*.out
*.txt
NSRL12C-build/NSRL12C
NSRL12C-build/Makefile
*.d
*.so
*~
*.err
*.log*
*.job
NSRL12C-build/figures
NSRL12C-build/BeamHeightScan_*
